@media(max-width: 1024px){
	.cartPopUp{
		top: 10%;
		right: 3vw;
		box-shadow: 0 2px 5px lightgray;
	}
}
@media(min-width: 1025px){
	.cartPopUp{
		top: min(6vw, 5.5rem);
		right: 10vw;
		box-shadow: 0 5px 20px lightgray;
	}
}

/*  */

.cartPopUp{
  position: absolute;

  width: min(350px, 94vw);
	border-radius: 1rem;
	background-color: var(--white);
	z-index: 10;

	transition: opacity 0.15s ease;
}
.cartHeadingContainer, .cartContentContainer{
  padding: 1.5rem;
}
.cartContentContainer{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
}
.cartItem, .checkoutBtn{
	display: none;
}
.cartEmptyText{
	padding: 4.25rem 0;

	color: var(--dark-grayish-blue);
}
.cartHeading, .cartEmptyText{
	font-weight: 700;
}
.cartPopUp hr{
	border: none;
	height: 1px;
	background-color: rgb(219, 219, 219);
}